.search {
  width: 100%;
  display: flex;
  align-self: center;
  justify-self: center;
}

.searchTerm {
  width: 100%;
  border: 3px solid #990000;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9dbfaf;
}

.searchTerm:focus {
  color: #990000;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #990000;
  background: #990000;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap {
  height: auto;
  width: 30%;
  display: flex;
  align-content: center;
  justify-content: center;
}

.container {
  flex-wrap: wrap;
  display: flex;
  align-content: flex-start;
  justify-content: center;
  justify-content: space-around;
}

select {
  width: 15em;
  align-self: center;
  font-size: 1.1em;
  border: 4px solid black;
}
.swiperWrapper {
  height: 80vh;
}
.inventoryItem {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-around;
  padding-left: 2em;
  padding-right: 2em;
  p {
    width: 4em;
  }
}

.titles {
  display: flex;
  font-weight: bold;
  justify-content: space-around;
  color: #990000;
  margin-left: 2em;
  margin-right: 2em;
  p {
    width: 4em;
  }
}
@media only screen and (max-width: 600px) {
  .buttonContainer {
    margin-top: 2em;
  }
}
