$stonyRed: #990000;
$pTagSize: 0.8em;
.container {
  height: 100vh;
  display: flex;

  position: relative;
  width: 100%;
  justify-content: center;
  justify-content: space-around;

  .logo {
    position: absolute;
    z-index: 2;
    left: 0;
    img {
      height: 4rem;
    }
  }
  .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    height: 100%;
    background-color: $stonyRed;
    clip-path: polygon(0 0, 100% 0, 69% 100%, 0% 100%);

    .loginInfo {
      font-weight: bold;
      color: white;

      h1 {
        font-size: 1.3em;
      }
    }
  }
  .signUpForm {
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    p {
      font-size: 0.8em;
      padding: 0;
    }
  }
  form {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    input {
      border-top-style: hidden;
      border-right-style: hidden;
      border-left-style: hidden;

      padding-top: 0.8rem;
    }
  }
}

p {
  font-size: $pTagSize;
  padding: 0.2em;
}

.formContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  align-content: center;
  grid-column-gap: 1em;
  padding-top: 0.8em;

  p {
    font-size: 0.8em;
  }
}
.errorProperties {
  margin-top: 0.4em;
  font-weight: bold;

  .error {
    color: $stonyRed;
  }
  .pass {
    color: green;
  }
}
@media only screen and (max-width: 1200px) {
  .formContainer {
    display: grid;
    grid-template-columns: 1fr;
  }
  .container {
    flex-wrap: wrap;

    .login {
      height: 55%;
      background-color: $stonyRed;
      clip-path: none;
    }
    .signUpForm {
      width: 100%;
      height: auto;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
}
