body {
  font-family: "Montserrat", sans-serif;
  font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}
.route-wrapper {
  position: relative;
}

.route-wrapper > div {
  position: absolute;
}
