.container {
  position: relative;

}
nav {
  background-color: #990000 !important;
  position: absolute;
  top: -1.3em !important;
}
.content {
  top: 0;
  margin-left: 68px;
  position: relative;
  height: 100%;
}
