

  form {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
    text-align: center;
    
  }
.formItem {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;

 grid-gap: 2em;
  align-items: stretch;
  padding-top: 3em;

}
.buttonDiv {
  padding-top: 1.5em;
  padding-bottom: 3em;
  display: flex;
  width: 100%;
  justify-content: center;
  align-content: center;
  justify-content: space-around;
}

.donorId {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

