$stonyRed: #990000;

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  width: auto;

  .logo {
    position: absolute;
    z-index: 2;
    left: 0;
    top: 0;
    img {
      height: 3rem;
    }
  }
  .login {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: $stonyRed;
    clip-path: polygon(23% 0, 100% 0, 100% 100%, 0 100%);
    .loginInfo {
      font-weight: bold;
      color: white;
      padding-left: 3.2em;
      h1 {
        font-size: 1.3em;
      }
    }
  }
  .logInForm {
    width: 100%;
    display: flex;

    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
  }
}

.checkbox {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 60%;
  p {
    font-size: 0.8em;
  }
}
a {
  text-decoration: none;
  color: $stonyRed;
}

@media only screen and (max-width: 800px) {
  .container {
    flex-wrap: wrap;
    .logo {
      position: absolute;
      z-index: 2;
      left: 0;
      padding-left: 0.5em;
      img {
        height: 2.5rem;
      }
    }
    .login {
      margin-top: 2em;

      height: 50vh;
      background-color: $stonyRed;
      clip-path: none;
      .loginInfo {
        padding-left: 0em;
      }
    }
    .logInForm {
      width: 100vw;
      display: flex;

      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 430px;
    }
  }
}
