.charts {
  display: flex;
 
  width: 100%;
  text-align: center;
  flex-wrap: wrap;
  justify-content: space-around;
  .chartitem {
    margin-right: 2em;
    margin-bottom: 4em;
    width: 20em;
    height: 15em;
  }
}
.title {
  padding-left: 2.5em;
  font-weight: bold;
}

.lowStockContainer {
  margin-left: 1.2em;
}

img {
  height: 4em;
}
.red {
  color: red;
  font-weight: bold;
}
