.header {
  position: relative;
  background-color: #990000;
  width: 100%;
  height: 3.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logoandtitle {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: white;

    .text {
      font-size: 0.6em;
      padding-left: 1em;
      font-weight: bold;
      color: white;
    }
    img {
      margin-left: 7rem;
      height: 3rem;
      z-index: 20;
    }
  }
  .userProfile {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 60%;
    .svgImg {
      cursor: pointer;
      height: 1.9rem;
      filter: invert(100%) sepia(6%) saturate(7462%) hue-rotate(177deg)
        brightness(107%) contrast(104%);
    }
    .arrImg {
      cursor: pointer;
      height: 1.9rem;

      filter: invert(100%) sepia(6%) saturate(7462%) hue-rotate(177deg)
        brightness(107%) contrast(104%);
    }
  }
}

.text {
  font-size: 0.9em;
  padding-left: 1em;
  font-weight: bold;
  color: white;
}
.on {
  position: absolute;
  right: 0;
  top: 101%;

  width: 10em;
  background-color: #990000;
  z-index: 1;
}
.off {
  display: none;
}
.popup {
  display: flex;
  flex-direction: column;
}
.item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-evenly;
  color: white;
  font-weight: bold;
  width: 100%;
}
